#class-container {
  width: 369px;
  position: absolute;
  left: 868px;
  top: 60px; }
  #class-container .umlClass {
    background-color: grey;
    position: relative;
    width: 317px;
    right: 10px;
    font-size: 12px;
    padding: 0;
    border: solid 1px black; }
    #class-container .umlClass .changeClassName {
      margin-left: 20px; }
    #class-container .umlClass .members {
      width: 317px;
      background-color: yellow; }
      #class-container .umlClass .members .title-section {
        padding: 3px;
        font-size: 15px; }
        #class-container .umlClass .members .title-section div {
          display: inline; }
        #class-container .umlClass .members .title-section .addProperty {
          margin-left: 140px; }
        #class-container .umlClass .members .title-section .addMethod {
          margin-left: 135px; }
      #class-container .umlClass .members .header {
        padding: 5px; }
        #class-container .umlClass .members .header div {
          display: inline; }
        #class-container .umlClass .members .header .name {
          margin-left: 28px; }
        #class-container .umlClass .members .header .returnType {
          margin-left: 90px; }
        #class-container .umlClass .members .header .type {
          margin-left: 90px; }
      #class-container .umlClass .members .property {
        background-color: #ecb641; }
        #class-container .umlClass .members .property .main {
          padding-bottom: 3px; }
          #class-container .umlClass .members .property .main div {
            display: inline; }
          #class-container .umlClass .members .property .main .visibility {
            margin-left: 9px; }
          #class-container .umlClass .members .property .main input[type=text] {
            width: 120px; }
      #class-container .umlClass .members .method {
        background-color: #ecb641;
        border-top: solid 1px black;
        border-bottom: solid 1px black;
        margin-bottom: 3px; }
        #class-container .umlClass .members .method .main {
          padding-bottom: 3px; }
          #class-container .umlClass .members .method .main div {
            display: inline; }
          #class-container .umlClass .members .method .main .visibility {
            margin-left: 9px; }
          #class-container .umlClass .members .method .main input[type=text] {
            width: 120px; }
        #class-container .umlClass .members .method .arguments {
          padding-bottom: 6px;
          margin: 5px;
          border: solid black 1px; }
          #class-container .umlClass .members .method .arguments .title-section {
            padding: 5px;
            padding-bottom: 7px;
            font-size: 15px; }
            #class-container .umlClass .members .method .arguments .title-section div {
              display: inline; }
            #class-container .umlClass .members .method .arguments .title-section .addArgButton {
              margin-left: 138px;
              right: 20px; }
          #class-container .umlClass .members .method .arguments .arg-header > div {
            display: inline; }
          #class-container .umlClass .members .method .arguments .arg-header .name {
            margin-left: 36px; }
          #class-container .umlClass .members .method .arguments .arg-header .type {
            margin-left: 83px; }
          #class-container .umlClass .members .method .arguments .arg-body {
            margin: 5px; }
            #class-container .umlClass .members .method .arguments .arg-body div {
              padding: 2px; }
            #class-container .umlClass .members .method .arguments .arg-body input[type=text] {
              width: 112px; }

/* end of arguments section */
/* end of method section */
