.classPopUp {
  font-family: arial;
  position: absolute;
  left: 400px;
  top: 200px;
  background-color: #dddddd;
  border: solid 1px #aaaaaa;
  line-height: 1.4em;
  width: 67px;
  z-index: 100; }
  .classPopUp ul li {
    border-bottom: solid 1px #aaaaaa;
    height: 27px; }
    .classPopUp ul li span {
      left: 11px;
      position: relative;
      top: 3px;
      color: #444; }
    .classPopUp ul li:last-child {
      border-bottom: 0px; }

.classMenuPopUp {
  left: 100px;
  top: 100px;
  position: relative;
  padding: 6px;
  width: 330px;
  font-family: arial;
  background-color: #dddddd;
  border: solid 1px #aaaaaa;
  z-index: 100; }
  .classMenuPopUp h1 {
    display: inline; }
  .classMenuPopUp input {
    border: none; }
  .classMenuPopUp button.right {
    position: relative;
    right: 10px; }
  .classMenuPopUp input {
    width: 80px; }
  .classMenuPopUp .properties {
    border: solid #aaaaaa 1px;
    padding: 5px;
    margin-bottom: 3px; }
  .classMenuPopUp .methods {
    border: solid #aaaaaa 1px;
    padding: 5px; }

.visibilityRadios {
  left: 600px;
  top: 100px;
  position: relative;
  padding: 6px;
  width: 97px;
  font-family: arial;
  background-color: #dddddd;
  border: solid 1px #aaaaaa;
  z-index: 100; }
