/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: arial;
  font-size: 12px;
  color: #666666; }

/* test sheet */
.test-alpha {
  font-size: 20px;
  font-weight: normal;
  color: #666666; }

.test-alpha-bold {
  font-size: 20px;
  font-weight: bold;
  color: #666666; }

.test-alpha-bold-blue {
  font-size: 20px;
  font-weight: bold;
  color: blue; }

.test-beta {
  font-size: 18px;
  font-weight: normal;
  color: #666666; }

.test-beta-bold {
  font-size: 18px;
  font-weight: bold;
  color: #666666; }

.test-beta-bold-red {
  font-size: 18px;
  font-weight: bold;
  color: red; }

.test-gamma {
  font-size: 16px;
  font-weight: normal;
  color: #666666; }

.test-gamma-bold {
  font-size: 16px;
  font-weight: bold;
  color: #666666; }

.test-gamma-bold-orange {
  font-size: 16px;
  font-weight: bold;
  color: orange; }

.test-delta {
  font-size: 12px;
  font-weight: normal;
  color: #666666; }

.test-delta-bold {
  font-size: 12px;
  font-weight: bold;
  color: #666666; }

.test-delta-bold-purple {
  font-size: 12px;
  font-weight: bold;
  color: purple; }

#toolbox {
  width: 280px;
  height: 92px;
  background-color: white;
  display: block;
  top: 60px;
  left: 10;
  position: relative;
  border: solid 1px black; }
  #toolbox > header {
    position: relative;
    background-color: black;
    color: white;
    height: 30px; }
    #toolbox > header > span {
      left: 14px;
      top: 7px;
      font-family: arial;
      font-weight: bold;
      position: absolute; }
  #toolbox .icons > div {
    display: inline-block;
    width: 50px;
    height: 50px;
    float: left;
    margin: 3px;
    border: solid 1px black; }
    #toolbox .icons > div img {
      width: 100%; }

::-webkit-scrollbar {
  width: 5px; }

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
  display: block;
  background-color: transparent; }

::-webkit-scrollbar-thumb:vertical {
  height: 10px;
  background-color: #666; }

#menu-bar {
  position: fixed;
  height: 40px;
  background-color: rgba(200, 200, 200, 0.6);
  width: 100%;
  z-index: 20000;
  font-size: 18px;
  font-weight: normal;
  color: #666666;
  padding-left: 50px;
  line-height: 40px; }

#helpbox {
  width: 280px;
  background-color: rgba(255, 255, 255, 0.6);
  border: solid 1px #c8c8c8;
  display: block;
  top: 100px;
  left: 100px;
  position: fixed;
  border-radius: 10px;
  z-index: 20000;
  margin: 20px;
  padding: 15px; }
  #helpbox header {
    margin-bottom: 30px; }
  #helpbox .content {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1%, rgba(0, 0, 0, 0)), color-stop(10%, black));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    overflow-y: scroll;
    height: 300px;
    line-height: 21px; }
    #helpbox .content .help-item {
      margin-top: 20px; }
    #helpbox .content h1 {
      margin-top: 5px;
      margin-bottom: 5px; }
    #helpbox .content p {
      margin-bottom: 4px; }
    #helpbox .content h2 {
      margin-top: 3px;
      margin-bottom: 3px; }

#class-container {
  width: 369px;
  position: absolute;
  left: 868px;
  top: 60px; }
  #class-container .umlClass {
    background-color: grey;
    position: relative;
    width: 317px;
    right: 10px;
    font-size: 12px;
    padding: 0;
    border: solid 1px black; }
    #class-container .umlClass .changeClassName {
      margin-left: 20px; }
    #class-container .umlClass .members {
      width: 317px;
      background-color: yellow; }
      #class-container .umlClass .members .title-section {
        padding: 3px;
        font-size: 15px; }
        #class-container .umlClass .members .title-section div {
          display: inline; }
        #class-container .umlClass .members .title-section .addProperty {
          margin-left: 140px; }
        #class-container .umlClass .members .title-section .addMethod {
          margin-left: 135px; }
      #class-container .umlClass .members .header {
        padding: 5px; }
        #class-container .umlClass .members .header div {
          display: inline; }
        #class-container .umlClass .members .header .name {
          margin-left: 28px; }
        #class-container .umlClass .members .header .returnType {
          margin-left: 90px; }
        #class-container .umlClass .members .header .type {
          margin-left: 90px; }
      #class-container .umlClass .members .property {
        background-color: #ecb641; }
        #class-container .umlClass .members .property .main {
          padding-bottom: 3px; }
          #class-container .umlClass .members .property .main div {
            display: inline; }
          #class-container .umlClass .members .property .main .visibility {
            margin-left: 9px; }
          #class-container .umlClass .members .property .main input[type=text] {
            width: 120px; }
      #class-container .umlClass .members .method {
        background-color: #ecb641;
        border-top: solid 1px black;
        border-bottom: solid 1px black;
        margin-bottom: 3px; }
        #class-container .umlClass .members .method .main {
          padding-bottom: 3px; }
          #class-container .umlClass .members .method .main div {
            display: inline; }
          #class-container .umlClass .members .method .main .visibility {
            margin-left: 9px; }
          #class-container .umlClass .members .method .main input[type=text] {
            width: 120px; }
        #class-container .umlClass .members .method .arguments {
          padding-bottom: 6px;
          margin: 5px;
          border: solid black 1px; }
          #class-container .umlClass .members .method .arguments .title-section {
            padding: 5px;
            padding-bottom: 7px;
            font-size: 15px; }
            #class-container .umlClass .members .method .arguments .title-section div {
              display: inline; }
            #class-container .umlClass .members .method .arguments .title-section .addArgButton {
              margin-left: 138px;
              right: 20px; }
          #class-container .umlClass .members .method .arguments .arg-header > div {
            display: inline; }
          #class-container .umlClass .members .method .arguments .arg-header .name {
            margin-left: 36px; }
          #class-container .umlClass .members .method .arguments .arg-header .type {
            margin-left: 83px; }
          #class-container .umlClass .members .method .arguments .arg-body {
            margin: 5px; }
            #class-container .umlClass .members .method .arguments .arg-body div {
              padding: 2px; }
            #class-container .umlClass .members .method .arguments .arg-body input[type=text] {
              width: 112px; }

/* end of arguments section */
/* end of method section */
.delete-pop-up {
  font-family: arial;
  position: absolute;
  left: 100px;
  top: 100px;
  background-color: #ddd;
  border: solid 1px #aaa;
  width: 150px;
  height: 80px;
  z-index: 100;
  padding-top: 15px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 10px;
  text-align: center; }

.classPopUp {
  font-family: arial;
  position: absolute;
  left: 400px;
  top: 200px;
  background-color: #dddddd;
  border: solid 1px #aaaaaa;
  line-height: 1.4em;
  width: 67px;
  z-index: 100; }
  .classPopUp ul li {
    border-bottom: solid 1px #aaaaaa;
    height: 27px; }
    .classPopUp ul li span {
      left: 11px;
      position: relative;
      top: 3px;
      color: #444; }
    .classPopUp ul li:last-child {
      border-bottom: 0px; }

.classMenuPopUp {
  left: 100px;
  top: 100px;
  position: relative;
  padding: 6px;
  width: 330px;
  font-family: arial;
  background-color: #dddddd;
  border: solid 1px #aaaaaa;
  z-index: 100; }
  .classMenuPopUp h1 {
    display: inline; }
  .classMenuPopUp input {
    border: none; }
  .classMenuPopUp button.right {
    position: relative;
    right: 10px; }
  .classMenuPopUp input {
    width: 80px; }
  .classMenuPopUp .properties {
    border: solid #aaaaaa 1px;
    padding: 5px;
    margin-bottom: 3px; }
  .classMenuPopUp .methods {
    border: solid #aaaaaa 1px;
    padding: 5px; }

.visibilityRadios {
  left: 600px;
  top: 100px;
  position: relative;
  padding: 6px;
  width: 97px;
  font-family: arial;
  background-color: #dddddd;
  border: solid 1px #aaaaaa;
  z-index: 100; }
