$grey : #ddd;
$line : #aaa;

.classPopUp {
    font-family : arial;
    position : absolute;
    left : 400px;
    top : 200px;
    background-color : $grey;
    border : solid 1px $line;
    line-height : 1.4em;
    width : 67px;
    z-index : 100;

    ul {
        li {
            border-bottom : solid 1px $line;
            height : 27px;
            span {
                left : 11px;
                position : relative;
                top : 3px;
                color : #444;
            }
            &:last-child {
                border-bottom : 0px;
            }
        }
    }
}

.classMenuPopUp {
    h1 {
        display : inline;
    }
    input {
        border : none;
    }
    left : 100px;
    top : 100px;
    position : relative;
    padding : 6px;
    width : 330px;
    font-family : arial;
    background-color : $grey;
    border : solid 1px $line;
    z-index: 100;

    button.right {

        position : relative;
        right : 10px;
    }

    input {
        width : 80px;
    }

    .properties {

        border : solid $line 1px;
        padding : 5px;
        margin-bottom : 3px;
    }

    .methods {

        border : solid $line 1px;
        padding : 5px;
    }

}

.visibilityRadios {
    left : 600px;
    top : 100px;
    position : relative;
    padding : 6px;
    width : 97px;
    font-family : arial;
    background-color : $grey;
    border : solid 1px $line;
    z-index: 100;


}