* {
  box-sizing: border-box;
}

.my__container {
  @extend .editor__panel;

  width: 240px;
}

#args-editor {
  position: absolute;
  left: 400px;
  top: 200px;
}

.argsEditor__table {
  width: 100%;

  thead {
    th:last-child {
      background: transparent;
      border: none;
      width: 50px;
    }
  }

  td {
    input[type='button'] {
      border: none;
      width: 30px;
      height: 17px;
      border-radius: 20px;
      font-weight: 700;
      font-size: 11px;
      line-height: 11px;
      color: $button-text-color;
      background: $button-color;

      &:hover {
        background: $button-color--hover;
      }

      &:active {
        background: $button-color--active;
      }
    }
  }

  td:last-child {
    background: transparent;
    border: none;
    text-align: right;
  }
}

.argsEditor__header {
  display: flex;
  align-items: flex-start;

  h2 {
    font-weight: bold;
    font-size: 14px;
    margin-right: auto;
    margin-bottom: 8px;
  }
}
