#banner-editor {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.bannerEditor__panel {
  width: 500px;
  background: $form-background;
  padding: 12px;
  border-radius: 4px;
  border: solid 1px $border-color;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4px;
}

.bannerEditor--header {
  font-weight: 700;
  padding-bottom: 12px;
  font-size: 16px;
  text-transform: capitalize;
  grid-column-start: 1;
  grid-column-end: 3;
}

.bannerEditor__textarea {
  outline: none;
  resize: none;
  width: 100%;
  padding: 6px;
}

.bannerEditor__text-input {
  width: 100%;
}

.label--text-area {
  grid-row-start: 4;
  grid-column-start: 1;
  grid-column-end: 3;
}

.bannerEditor__buttons {
  grid-row-start: 5;
  grid-column-start: 1;
  grid-column-end: 3;
}
