#menu {

    z-index : 200;
}

.menu {

    width : 300px;
    float : right;
    background : $form-background;
    z-index : 200;
    padding : 12px;
    border-radius : 4px;
    border : solid 1px $border-color;

}

.menu__main-options li {

    font-size : 20px;
    line-height : 1.4;
    position : relative;

}

.menu__main-options li:hover {
    color : green;
}

.sublist {
    background : $form-background;
    font-size : 16px;
    padding-left : $padding-horizontal;
}

.sublist2 {
    background : $form-background;
    font-size : 16px;
    padding-left : $padding-horizontal * 2;
}




