.modalEditor__panel {
  width: 300px;
  background: #ddd;
  position: absolute;
  left: 400px;
  top: 300px;
  z-index: 100;
  padding: $padding-horizontal;
  border-radius: 4px;
  border: solid 1px $border-color;
}

.modalEditor__textarea {
  outline: none;
  resize: none;
  width: 100%;
  padding: 6px;
  margin: 4px 0;
}

.modalEditor__delete-button {
  margin-left: auto;
}

.modalEditor__width {
  width: 50px;
}
