[submodule "web/richardUtils"]
	path = web/richardUtils
	url = https://github.com/Richardinho/richardUtils.git
[submodule "web/rasmus"]
	path = web/rasmus
	url = https://github.com/Richardinho/rasmus.git
