#class-container {
    width : 369px;
    position : absolute;
    left : 900px;
    top : 50px;
}

.umlClass {


    background-color : #a69f91;
    position : relative;
    width : 365px;
    right : 10px;
    font-size : 12px;
    padding : 4px;
    border : solid 1px black;
}

.changeClassName {
    margin-left : 20px;
}

/*  background panel for properties and methods */

.members {
    width : 342px;
    margin : 10px;
    background-color : #f9e058;
    padding-bottom : 9px;
}

/* title section for properties and methods */

.title-section {
    padding : 10px;
    font-size : 15px;
}

.title-section div {
    display : inline;
}

.title-section .addProperty{
    margin-left : 140px;
}

.title-section .addMethod{
    margin-left : 135px;
}


/* main section for properties and methods */

.main {
    padding-bottom : 3px;
}
.main div {
    display : inline;
}

.main .visibility {
    margin-left : 9px;
}

.main input[type=text] {
    width : 120px;
}

/* header section for properties and methods */

.members .header {
    padding : 5px;
}

.members .header div {
    display : inline;
}

.members .header div.name {
    margin-left : 28px;
}

.members .header .returnType {
    margin-left : 90px;
}

.members .header .type {
    margin-left : 90px;
}

.member {
    background-color : #ecb641;
}
/* method section */

    .method {
        border : solid 1px black;
        margin-bottom : 3px;
    }

    /* argument section */
    .methods .method .arguments {
        padding-bottom : 6px;
        margin: 5px;
        border : solid black 1px;

    }

    .methods .method .arguments .title-section {
        padding : 5px;
        padding-bottom: 7px;
        font-size : 15px;
    }

    .methods .method .arguments .title-section div {
        display : inline;
    }

    .methods .method .arguments .title-section .addArgButton {
        margin-left : 138px;
        right : 20px;
    }

    .methods .method .arguments .arg-header div {
        display : inline;
    }

    .methods .method .arguments .arg-header div.name {
        margin-left : 36px;
    }

    .methods .method .arguments .arg-header div.type {
        margin-left : 83px;
    }

    .methods .method .arguments .arg-body {
        margin : 5px;
    }

    .methods .method .arguments .arg-body div {
        padding : 2px;
    }

    .methods .method .arguments .arg-body input[type=text] {
        width : 112px;
    }
    /* end of arguments section */

/* end of method section */