body {
    background-color: #ddd;
}
/* class container */

#class-container {
    width : 237px;
    height : 600px;
    background-color: #cba13c;
    position : absolute;
    right : 0;
    top : 50px;
}

/* title bar */

.classBox .className  {
    height : 10px;
    background-color : #444;
    text-align : center;
    padding-top : 6px;
    color : white;
    font-weight : bold;
    font-family : arial;
    font-size : 14px;

}

/* properties */

.classBox .properties {
    padding : 1px;
}
.classBox .controls {
    height : 22px;
}

.classBox .properties .controls .title {
    padding-top : 4px;
    padding-left : 5px;
    float : left;
}

.classBox .properties .controls .addProperty {
    float : right;
}

.classBox .properties .controls .addProperty input {
    font-size: 9px;
    height: 20px;
    width: 47px;
}

.classBox .properties .property {
    height : 21px;
    margin-top : 2px;
    background-color : #ddd;
}

.classBox .properties .property.header {
    background-color : transparent;
}

.classBox .properties .property div {
    float : left;
}

.classBox .properties .property .visibility {
    width : 12px;
    padding-left : 5px;
    padding-top : 1px;
}

.classBox .properties .property .name, .classBox .properties .property .name input {
    width : 89px;
}

.classBox .properties .property .type, .classBox .properties .type input {
    width : 89px;
}


/* end of properties */



.classBox .name {
    font-size : 15px;

}

.classBox input {
    width : 40px;
    font-size : 12px;
    height : 20px;
    padding-left: 2px;
}

.classBox {
    font-size : 12px;
    border: solid black 1px;
    margin-bottom : 2px;
}


.classBox .property .name {
    font-size : 12px;
}

.classBox .property.header {
    padding-left: 5px;
    margin-bottom: 0;
    height : 13px;
}

.classBox .property {
    margin-left: 5px;
}

/* methods */

.classBox .methods {
    height : 23px;
    margin-top : 11px;
}

.classBox .methods .title {
    padding-top : 4px;
    float : left;
}

.classBox .methods .addMethod {
    float : right;
}

.classBox input.button {
    font-size: 9px;
    height: 20px;
}

.classBox .delete {
    padding-top: 3px;
    padding-left: 2px;
}

.classBox .delete input {
    width: 25px;
    height : 15px;
}

.classBox .addMethod input {
    width: 52px;
}

.classBox .addProperty input {
    width: 47px;
}

/* class name input control */
.changeClassName {
    padding-left : 5px;
    padding-top : 9px;
    padding-bottom: 10px;
}

.classBox .changeClassName input {
    width : 175px;
    padding-left: 2px;
    margin-left : 8px;
}