body {
    background-color: #ddd;
}
/* class container */

#class-container {
    width : 237px;
    height : 600px;
    background-color: #cba13c;
    position : absolute;
    right : 0;
    top : 50px;
}

.classBox {
    font-size : 12px;
    border: solid black 1px;
    margin-bottom : 2px;
}


.classBox input {
    width : 40px;
    font-size : 12px;
    height : 20px;
    padding-left: 2px;
}

/* class name input control */
.changeClassName {
    padding-left : 5px;
    padding-top : 9px;
    padding-bottom: 10px;
}

.classBox .changeClassName input {
    width : 175px;
    padding-left: 2px;
    margin-left : 8px;
}

.classBox input.button {
    font-size: 9px;
    height: 20px;
}

.classBox .delete {
    padding-top: 3px;
    padding-left: 2px;
}

.classBox .delete input {
    width: 25px;
    height : 15px;
}


/* title bar */

.classBox .className  {
    height : 10px;
    background-color : #444;
    text-align : center;
    padding-top : 6px;
    color : white;
    font-weight : bold;
    font-family : arial;
    font-size : 14px;

}

/* properties */

.classBox .properties {
    padding : 1px;
}

.classBox .addProperty input {
    width: 47px;
}

.classBox .property {
    margin-left: 5px;
}

.classBox .property .name {
    font-size : 12px;
}

.classBox .controls {
    height : 22px;
}

.classBox .properties .controls .title {
    padding-top : 4px;
    padding-left : 5px;
    float : left;
}

.classBox .properties .controls .addProperty {
    float : right;
}

.classBox .properties .controls .addProperty input {
    font-size: 9px;
    height: 20px;
    width: 47px;
}

.classBox .properties .property {
    height : 21px;
    margin-top : 2px;
    background-color : #ddd;
}


.classBox .property.header {
    background-color : transparent;
    padding-left: 5px;
    margin-bottom: 0;
    height : 13px;
}

.classBox .properties .property div {
    float : left;
}

.classBox .properties .property .visibility {
    width : 12px;
    padding-left : 5px;
    padding-top : 1px;
}

.classBox .properties .property .name, .classBox .properties .property .name input {
    width : 89px;
}

.classBox .properties .property .type, .classBox .properties .type input {
    width : 89px;
}


/* end of properties */

/* methods */

.classBox .methods {
    margin-top : 10px;
}

.classBox .methods .addMethod input {
    width: 52px;
    float : right;
}

.classBox .methods .addMethod {
    height : 20px;
    padding-left : 5px;
}

.classBox .methods .header {
    height : 23px;
}

.classBox .methods .header .visibility ,
.classBox .methods .header .name,
.classBox .methods .header .returnType {
    float : left;
}

.classBox .methods .header .name{
    padding-left : 28px;
    font-size : 12px;
    padding-top : 4px;
}

.classBox .methods .header .returnType {
    padding-left : 56px;
    font-size : 12px;
    padding-top : 4px;
}

.classBox .methods .method {
    margin-top : 2px;
    margin-bottom : 5px;
    background-color : #9acd32;
    margin-left: 5px;
    padding: 2px;
    border: solid 2px yellow;
}

.classBox .methods .method .section-a div{
    float : left;
}

.classBox .methods .method .visibility {
    width : 12px;
    padding-left : 5px;
    padding-top : 1px;
}

.classBox .methods .method .name, .classBox .methods .method .name input {
    width : 86px;
}

.classBox .methods .method .returnType, .classBox .methods .method .returnType input {
    width : 86px;
}

.classBox .methods .method .addArgButton {
    height : 51px;
}

.classBox .methods .method .addArgButton input {
    width : 50px;
    margin-top:6px;
}

/* method arguments */

.classBox .methods .method .arguments .arg-header .name {
    margin-right : 66px;
}

.classBox .methods .method .arguments .arg-header {
    background-color : green;
}

.classBox .methods .method .arguments input[type=text] {
    width : 87px;
}

/* end of method arguments */




