#menu {
    background-color : #352a0f;
    height : 30px;
    padding-left : 20px;
    padding-top : 20px;
    color : #f3b00e;
    position : absolute;
    z-index : 10;
    width : 100%;
}

#menu div {
    float : left;
}

#menu .menu-item .menu-button {
    color : red;
}

#drop-down-container .dropdown {
    position : absolute;
    top : -250px;
    z-index : 0;
    background-color : red;
}

#drop-down-container .dropdown div {
    background-color : red;
    font-size : 12px;
    color : white;
    font-weight : bold;
    padding-left : 14px;
    padding-top : 8px;
    background-color : blue;
    height : 25px;
    border-bottom : solid 1px white;
    z-index : 0;
    display : block;
    position : relative;
}

/* help */
#help {
    position : absolute;
    left : 0px;
    top : 50px;
    width : 394px;
    background-color : #bbb;
}

#help .content {
    background-color : white;
    margin : 10px;
    border : solid 1px black;
    font-size : 12px;
    line-height : 15px;
}

#help .content .menu {
    padding : 10px;
    vertical-align : top;
    width : 72px;
    display : inline-block;

}

#help .content .main {
    padding : 10px;
    padding-bottom : 20px;
    width : 254px;
    display : inline-block;
    border-left : solid black 1px;
}

#help .content .title {
    font-weight : bold;
}

#help .hidden {
    display : none;
}


#help .content .close-button {
    height : 20px;
    text-align : right;
}

#help-button {
    width : 200px;
}

#help .annibale .image1 img {
    width : 255px;
    padding-top : 8px;
}

#help .annibale .image2 img {
    width : 100px;
    float : right;
}

/* end of help */

/* tools */

#tool-bar .hidden {
    display : none;
}

.toolbar {
    width : 159px;
    height : 259px;
    left : 800px;
    position : relative;
    background-color: #bbb;
}

.toolbar .close-button {
    height : 24px;
}

.toolbar .container .component {
    height : 45px;
    display : block;
}

.toolbar .container .component .image {
    background-color: white;
    width : 40px;
    height : 40px;
    margin: 2px;
    float : left;
    display : inline-block;
}

.toolbar .container .component .label {
    width : 100px;
    float : left;
    display : inline;
    padding-left : 12px;
    padding-top : 13px;
}


