<!DOCTYPE html>
<html>
<head>

    <style>

        #command-editor {

            background-color : rgba(12, 12, 12, 0.1);
            width : 500px;
            height : 300px;
            left : 50px;
            top : 50px;
            position : absolute;
            padding : 10px;
            overflow-y : scroll;
        }

        .current-command {
            color : green;
        }

    </style>
</head>
<body>

    <div id="editor-placeholder"></div>

    <script type="text/template" id="command-line-editor-template">
        <div id="command-editor">
            <div class="old-commands">
                <% for(var i=0; i < oldCommands.length; i++) {   %>

                    <div class="command"><%= oldCommands[i] %></div>

                <% } %>
            </div>
            <div class="current-command"><%= currentCommand %></div>
        </div>
    </script>

    <script data-main="version2/bootstrap" src="lib/require.js"></script>

</body>
</html>