$mask-color: rgba(200, 200, 200, 0.5);

$form-background: #ddd;

$border-color: #666;

$button-color: #777;
$button-color--active: #bbb;
$button-color--hover: #999;

$top-bar-color: #333;
$side-bar-color: #ccc;
