$mask-color: rgba(200, 200, 200, 0.5);

$form-background: #ddd;

$border-color: #666;

$button-text-color: #fff;
$button-color: #777;
$button-color--active: #bbb;
$button-color--hover: #999;

$button-text-color-secondary: #777;
$button-color-secondary: #fff;
$button-color-secondary-hover: #ddd;
$button-color-secondary-active: #bbb;

$top-bar-color: #333;
$side-bar-color: #ccc;
