<div data-role="typeEditor-panel" class="typeEditor__panel">
    <div class="typeEditor__header">
        <h2 class="typeEditor--header">type:</h2>

    </div>
    <label>
        Name:
        <input data-role="typeName" name="name" value="<%= name %>" class="text-input" type="text"/>
    </label>

    <label>
        Flavor:
        <input data-role="flavor" list="flavor" name="flavor" value="<%= flavor %>" class="text-input" type="text"/>
    </label>

    <div class="typeEditor__property-header">
        <h2>Properties</h2>
        <button data-role="add-prop" class="typeEditor__add">add Property</button>
    </div>
    <table data-role="property-table" class="typeEditor_table">
        <thead>
            <tr>
                <th>vis</th>
                <th>name</th>
                <th>type</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <%  _.each(properties, function(property) { %>

                <tr>
                    <td><input name="visibility" list="visibility" type="text" value="<%= property.visibility %>"/></td>
                    <td><input name="name" type="text" value="<%= property.name %>"/></td>
                    <td><input name="type" type="text" value="<%= property.type %>"/></td>
                    <td><input data-role="deleteprop" type="button" value="del"/></td>
                </tr>

            <% }) %>
        </tbody>
    </table>
    <div class="typeEditor__property-header">
        <h2>Methods</h2>
        <button data-role="add-method" class="typeEditor__add">add Method</button>
    </div>
    <table data-role="method-table" class="typeEditor_table">
        <thead>
        <tr>
            <th>vis</th>
            <th>name</th>
            <th>args</th>
            <th>returnType</th>
        </tr>
        </thead>
        <tbody>

            <%  _.each(methods, function(method) { %>

                <tr>
                    <td><input name="visibility" type="text" value="<%= method.visibility %>"/></td>
                    <td><input name="name" type="text" value="<%= method.name %>"/></td>
                    <td><input data-role="methodArgs" type="text" /></td>
                    <td><input name="returnType" type="text" value="<%= method.returnType %>"/></td>
                    <td><input data-role="deletemethod" type="button" value="del"/></td>
                </tr>

            <% }) %>

        </tbody>
    </table>

    <datalist id="visibility">
        <option value="private">
        <option value="protected">
        <option value="public">
        <option value="&nbsp;">
    </datalist>

    <datalist id="flavor">
        <option value="abstract">
        <option value="interface">
        <option value="class">
    </datalist>

    <button data-role="save">save</button>
    <button data-role="cancel">cancel</button>
    <button data-role="delete" class="typeEditor__delete">delete</button>
</div>