<div class="my__container">
  <div class="argsEditor__header">
    <h2>Args</h2>

    <button
      data-role="addArgRow"
      title="add a new row"
      class="button button--secondary"
    >
      add argument
    </button>
  </div>

  <table class="argsEditor__table">
    <thead>
      <tr>
        <th>name</th>
        <th>type</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% _.each(args, function(arg) { %>

      <tr>
        <td><input value="<%= arg.name %>" type="text" /></td>
        <td><input value="<%= arg.type %>" type="text" /></td>
        <td>
          <input
            data-role="deleteArg"
            value="del"
            title="delete this row"
            tabindex="-1"
            type="button"
          />
        </td>
      </tr>

      <% }) %>
    </tbody>
  </table>
  <div class="buttons">
    <button
      data-role="save"
      title="save edit"
      class="button button--primary args-editor__button--save"
    >
      save
    </button>
    <button
      data-role="cancel"
      title="cancel edit"
      class="button button--secondary args-editor__button--save"
    >
      cancel
    </button>
  </div>
</div>
