<div data-role="typeEditor-panel" class="typeEditor__panel">
  <h2 class="typeEditor__header">type</h2>
  <div class="typeEditor__foo">
    <label>
      Name
    </label>
    <input
      data-role="typeName"
      name="name"
      value="<%= name %>"
      class="text-input"
      type="text"
    />
    <label>
      Flavor
    </label>
    <select class="typeEditor__select--standalone" name="flavor">
      <option value="abstract">abstract</option>
      <option value="interface">interface</option>
      <option value="class">class</option>
    </select>
  </div>

  <div class="typeEditor__property-header">
    <h2>Properties</h2>
    <button
      class="button button--secondary"
      data-role="add-prop"
      class="typeEditor__add"
    >
      add Property
    </button>
  </div>
  <table data-role="property-table" class="typeEditor_table">
    <thead>
      <tr>
        <th>vis</th>
        <th>name</th>
        <th>type</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% _.each(properties, function(property) {
      console.log(property.visibility)%>

      <tr>
        <td>
          <select name="visibility">
            <% _.each(visibilityOptions, function(visibilityOption) { %>
            <option <%  print(visibilityOption === property.visibility ? 'selected ' : '' )%>value="<%= visibilityOption %>"><%= visibilityOption %></option>
            <% })%>
          </select>
        </td>
        <td><input name="name" type="text" value="<%= property.name %>" /></td>
        <td><input name="type" type="text" value="<%= property.type %>" /></td>
        <td><input data-role="deleteprop" type="button" value="del" /></td>
      </tr>

      <% }) %>
    </tbody>
  </table>
  <div class="typeEditor__property-header">
    <h2>Methods</h2>
    <button
      class="button button--secondary"
      data-role="add-method"
      class="typeEditor__add"
    >
      add Method
    </button>
  </div>
  <table data-role="method-table" class="typeEditor_table">
    <thead>
      <tr>
        <th>vis</th>
        <th>name</th>
        <th>args</th>
        <th>returnType</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% _.each(methods, function(method) { var args = _.reduce(method.args,
      function(memo, arg, key) { return memo + "," + (arg.name + ":" +
      arg.type); }, ""); args = args.substring(1); %>

      <tr>
        <td>
          <select name="visibility">
              <% _.each(visibilityOptions, function(visibilityOption) { %>
              <option <%  print(visibilityOption === method.visibility ? 'selected ' : '' )%>value="<%= visibilityOption %>"><%= visibilityOption %></option>
              <% })%>
          </select>
        </td>
        <td><input name="name" type="text" value="<%= method.name %>" /></td>
        <td>
          <input data-role="methodArgs" value="<%= args %>" type="text" />
        </td>
        <td>
          <input
            name="returnType"
            type="text"
            value="<%= method.returnType %>"
          />
        </td>
        <td><input data-role="deletemethod" type="button" value="del" /></td>
      </tr>

      <% }) %>
    </tbody>
  </table>

  <div class="buttons">
    <button class="button button--primary" data-role="save">save</button>
    <button class="button button--secondary" data-role="cancel">cancel</button>
    <button class="button button--secondary" data-role="add-note">
      add note
    </button>
    <button
      class="button button--secondary"
      data-role="delete"
      class="typeEditor__delete"
    >
      delete
    </button>
  </div>
</div>
