<div data-role="typeEditor-panel" class="typeEditor__panel">
  <div class="typeEditor__header">
    <h2 class="typeEditor--header">type:</h2>
  </div>
  <label>
    Name:
    <input
      data-role="typeName"
      name="name"
      value="<%= name %>"
      class="text-input"
      type="text"
    />
  </label>

  <label>
    Flavor:
    <input
      data-role="flavor"
      list="flavor"
      name="flavor"
      value="<%= flavor %>"
      class="text-input"
      type="text"
    />
  </label>

  <div class="typeEditor__property-header">
    <h2>Properties</h2>
    <button data-role="add-prop" class="typeEditor__add">add Property</button>
  </div>
  <table data-role="property-table" class="typeEditor_table">
    <thead>
      <tr>
        <th>vis</th>
        <th>name</th>
        <th>type</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% _.each(properties, function(property) { %>

      <tr>
        <td>
          <input
            name="visibility"
            list="visibility"
            type="text"
            value="<%= property.visibility %>"
          />
        </td>
        <td><input name="name" type="text" value="<%= property.name %>" /></td>
        <td><input name="type" type="text" value="<%= property.type %>" /></td>
        <td><input data-role="deleteprop" type="button" value="del" /></td>
      </tr>

      <% }) %>
    </tbody>
  </table>
  <div class="typeEditor__property-header">
    <h2>Methods</h2>
    <button data-role="add-method" class="typeEditor__add">add Method</button>
  </div>
  <table data-role="method-table" class="typeEditor_table">
    <thead>
      <tr>
        <th>vis</th>
        <th>name</th>
        <th>args</th>
        <th>returnType</th>
      </tr>
    </thead>
    <tbody>
      <% _.each(methods, function(method) { var args = _.reduce(method.args,
      function(memo, arg, key) { return memo + "," + (arg.name + ":" +
      arg.type); }, ""); args = args.substring(1); %>

      <tr>
        <td>
          <input
            name="visibility"
            list="visibility"
            type="text"
            value="<%= method.visibility %>"
          />
        </td>
        <td><input name="name" type="text" value="<%= method.name %>" /></td>
        <td>
          <input data-role="methodArgs" value="<%= args %>" type="text" />
        </td>
        <td>
          <input
            name="returnType"
            type="text"
            value="<%= method.returnType %>"
          />
        </td>
        <td><input data-role="deletemethod" type="button" value="del" /></td>
      </tr>

      <% }) %>
    </tbody>
  </table>

  <datalist id="visibility">
    <option value="private"></option>
    <option value="protected"></option>
    <option value="public"></option>
  </datalist>

  <datalist id="flavor">
    <option value="abstract"></option>
    <option value="interface"></option>
    <option value="class"></option>
  </datalist>

  <div class="buttons">
    <button class="button--save" data-role="save">save</button>
    <button class="button--cancel" data-role="cancel">cancel</button>
    <button class="button--note" data-role="add-note">add note</button>
    <button data-role="delete" class="typeEditor__delete">delete</button>
  </div>
</div>
