<div>

    <script type="text/template" id="help-template-page-menu">
        <div class="menu">
            <div data-page="0" class="page-link" >page 1</div>
            <div data-page="1" class="page-link" >page 2</div>
            <div data-page="2" class="page-link" >page 3</div>
            <div data-page="3" class="page-link" >page 4</div>
            <div data-page="4" class="page-link" >page 5</div>
            <div data-page="5" class="page-link" >page 6</div>
            <div data-page="6" class="page-link" >Annibale Carracci</div>
        </div>
    </script>

    <script type="text/template" id="help-template-page-0">
        <div class="main">
            <div class="close-button">close</div>
            <div class="title"><%=title%></div>
            <div class="image"><img src="<%=image%>"/></div>
            <div class="text"><%=text%></div>
        </div>
    </script>

    <script type="text/template" id="help-template-page-1">
        <div class="main">
            <div class="close-button">close</div>
            <div class="title"><%=title%></div>
            <div class="image"><img src="<%=image%>"/></div>
            <div class="text"><%=text%></div>
        </div>
    </script>

    <script type="text/template" id="help-template-page-2">
        <div class="main">
            <div class="close-button">close</div>
            <div class="title"><%=title%></div>
            <div class="image"><img src="<%=image%>"/></div>
            <div class="text"><%=text%></div>
        </div>
    </script>

    <script type="text/template" id="help-template-page-3">
        <div class="main">
            <div class="close-button">close</div>
            <div class="title"><%=title%></div>
            <div class="image"><img src="<%=image%>"/></div>
            <div class="text"><%=text%></div>
        </div>
    </script>

    <script type="text/template" id="help-template-page-4">
        <div class="main">
            <div class="close-button">close</div>
            <div class="title"><%=title%></div>
            <div class="image"><img src="<%=image%>"/></div>
            <div class="text"><%=text%></div>
        </div>
    </script>

    <script type="text/template" id="help-template-page-5">
        <div class="main">
            <div class="close-button">close</div>
            <div class="title"><%=title%></div>
            <div class="image"><img src="<%=image%>"/></div>
            <div class="text"><%=text%></div>
        </div>
    </script>



    <script type="text/template" id="help-template-page-6">
        <div class="main annibale">

            <div class="close-button">close</div>
            <div class="title"><%=title%></div>
            <div class="image2"><img src="<%=image2%>"/></div>
            <div class="text"><%=text%></div>
            <div class="image1"><img src="<%=image1%>"/></div>
        </div>
    </script>
</div>