<script type="text/template" id="tools-template">
    <div class="toolbar">
        <div class="close-button">close</div>
        <div class="container">
            <div data-component="umlClass" class="component uml-class-button umlClass">
                <div class="image"></div>
                <div class="label">class</div>
            </div>
            <div data-component="interface" class="component interface">
                <div class="image"></div>
                <div class="label">inter</div>
            </div>
            <div data-component="abstract" class="component abstract">
                <div class="image"></div>
                <div class="label">abstract</div>
            </div>
            <div data-component="connector" class="component connector-button connector">
                <div class="image"></div>
                <div class="label">conne</div>
            </div>
        </div>
    </div>
</script>
