<script type="text/template" id="gui-class-template">
    <div class="classBox">
        <div class="className"></div>
        <div class="changeClassName">
            Name:<input type="text" value="<%= name %>"/>
        </div>
        <div class="properties">
            <div class="controls">
                <div class="title">
                    Properties
                </div>
                <div class="addProperty">
                    <input type="button" class="button" value="add Prop"/>
                </div>
            </div>

            <div class="header">
                <div class="visibility"></div>
                <div class="name">name</div>
                <div class="type">type</div>
            </div>
            <% for(var i = 0 ; i < properties.size(); i++) {  %>
            <div class="property" data-index="<%= 'property' + i %>">

                <div class="visibility">
                    <%= properties.get(i).visibility %>
                </div>
                <input type="hidden" name="visibility" value="+"/>

                <div class="name">
                    <input type="text" value="<%= properties.get(i).name %>" />
                </div>

                <div class="type">
                    <input type="text" value="<%= properties.get(i).type %>" />
                </div>

                <div class="delete">
                    <input type="button" class="button" value="del"/>
                </div>
            </div>
            <% } %>
        </div>

        <div class="methods">

            <div class="addMethod">
                Methods
                <input type="button" class="button" value="add Meth"/>
            </div>

            <div class="header">
                <div class="methodVisibility"></div>
                <div class="name">name</div>
                <div class="returnType">returnType</div>
            </div>
            <% for(var i = 0 ; i < methods.size(); i++) {  %>
            <div class="method" data-index="<%= 'method' + i %>">
                <div class="section-a">
                    <div class="methodVisibility">
                        <%= methods.get(i).visibility %>
                    </div>
                    <input type="hidden" name="visibility" value="+"/>

                    <div class="name">
                        <input type="text" value="<%= methods.get(i).name %>" />
                    </div>

                    <div class="returnType">
                        <input type="text" value="<%= methods.get(i).returnType %>" />
                    </div>

                    <div class="deleteMethod">
                        <input type="button" class="button" value="del"/>
                    </div>
                </div>

                <div class="arguments">
                    <div class="addArgButton"><input type="button" value="add Arg" /></div>

                    <div class="arg-header">
                        <span class="name">name</span>
                        <span class="type">type</span>
                    </div>
                    <div class="arg-body">
                        <%  var args = methods.get(i).args;
                            for(var j = 0; j < args.length; j++) {
                            var arg= args[j] %>
                            <div>
                                <input class="name" type="text" value="<%= arg.name %>" />
                                <input class="type" type="text" value="<%= arg.type %>" />
                                <input type="button" value="del"/></div>
                        <% } %>
                    </div>

                </div>
            </div>
            <% } %>
        </div>
    </div>
</script>