<script type="text/template" id="gui-class-template">
<div class="umlClass">

    <div class="changeClassName">
        Name:<input type="text" value="<%= name %>"/>
    </div>

    <div class="members properties ">
        <div class="title-section">
            <div class="title">
                Properties
            </div>
            <div class="addProperty">
                <input type="button" class="button" value="add Prop"/>
            </div>
        </div>

        <div class="header">
            <div class="visibility"></div>
            <div class="name">name</div>
            <div class="type">type</div>
        </div>
        <% for(var i = 0 ; i < properties.size(); i++) {  %>
            <div class="member property" data-index="<%= 'property' + i %>">
                <div class="main">
                    <div class="visibility">
                        <%= properties.get(i).visibility %>
                    </div>
                    <input type="hidden" name="visibility" value="+"/>

                    <div class="name">
                        <input type="text" value="<%= properties.get(i).name %>" />
                    </div>

                    <div class="type">
                        <input type="text" value="<%= properties.get(i).type %>" />
                    </div>

                    <div class="delete">
                        <input type="button" class="button" value="del"/>
                    </div>
                </div>
            </div>
        <% } %>
    </div>

    <div class="members methods">

        <div class="title-section">
            <div class="title">
                Methods
            </div>
            <div class="addMethod">
                <input type="button" class="button" value="add Method"/>
            </div>
        </div>
        <% for(var i = 0 ; i < methods.size(); i++) {  %>
            <div data-index="<%= 'method' + i %>" class="member method">
                <div class="header">
                    <div class="name">name</div>
                    <div class="returnType">returnType</div>
                </div>
                <div class="main">
                    <div class="visibility">
                        <%= methods.get(i).visibility %>
                    </div>

                    <div class="name">
                        <input type="text" value="<%= methods.get(i).name %>">
                    </div>

                    <div class="returnType">
                        <input type="text" value="<%= methods.get(i).returnType %>">
                    </div>

                    <div class="deleteMethod">
                        <input type="button" value="del" class="button">
                    </div>
                </div>

                <div class="arguments">
                    <div class="title-section">
                        <div>
                            Arguments:
                        </div>
                        <div class="addArgButton">
                            <input type="button" value="add Arg">
                        </div>
                    </div>

                    <div class="arg-header">
                        <div class="name">name</div>
                        <div class="type">type</div>
                    </div>

                    <div class="arg-body">
                       <%  var args = methods.get(i).args;
                            if(args) {
                                for(var j = 0; j < args.length; j++) {
                                    var arg= args[j] %>
                                    <div data-index="<%= 'method' + i + ':arg' + j %>">
                                        <input type="text" value="<%= arg.name %>" class="name">
                                        <input type="text" value="<%= arg.type %>" class="type">
                                        <input type="button" value="del" class="del">
                                    </div>
                        <%      }
                            }         %>
                    </div>
                </div>
            </div>
        <% } %>
    </div>
</div>
</script>