.overlay {
  position: fixed;
  z-index: 100;
  display: none;
  background: rgba(200, 200, 200, 0.5);
  height: 100%;
  width: 100%; }

.editor__panel, .my__container {
  background: #ddd;
  position: absolute;
  z-index: 100;
  padding: 12px;
  border-radius: 4px;
  border: solid 1px cadetBlue;
  font-family: arial; }

.button, .button--rounded, td [type=button], .argsEditor__button--add, .button--save, .args-editor__button--save, .button--cancel, .args-editor__button--cancel {
  border: none;
  outline: none;
  color: white;
  background: #777; }
  .button:hover, .button--rounded:hover, td [type=button]:hover, .argsEditor__button--add:hover, .button--save:hover, .args-editor__button--save:hover, .button--cancel:hover, .args-editor__button--cancel:hover {
    background: #999; }
  .button:active, .button--rounded:active, td [type=button]:active, .argsEditor__button--add:active, .button--save:active, .args-editor__button--save:active, .button--cancel:active, .args-editor__button--cancel:active {
    background: #bbb; }

.button--rounded, td [type=button], .argsEditor__button--add {
  border-radius: 5px; }

.button--save, .args-editor__button--save {
  padding: 3px 6px; }

.button--cancel, .args-editor__button--cancel {
  padding: 3px 6px; }

#menu {
  z-index: 200; }

.menu {
  width: 300px;
  float: right;
  background: #ddd;
  z-index: 200;
  padding: 12px;
  border-radius: 4px;
  border: solid 1px cadetBlue; }

.menu__main-options li {
  font-size: 20px;
  line-height: 1.4;
  position: relative; }

.menu__main-options li:hover {
  color: green; }

.sublist {
  background: #ddd;
  font-size: 16px;
  padding-left: 12px; }

.sublist2 {
  background: #ddd;
  font-size: 16px;
  padding-left: 24px; }

#banner-editor {
  position: absolute;
  left: 400px;
  top: 300px; }

.bannerEditor__panel {
  width: 500px;
  background: #ddd;
  padding: 12px;
  border-radius: 4px;
  border: solid 1px cadetBlue;
  margin: 200px auto;
  display: table; }

.bannerEditor__textarea {
  outline: none;
  resize: none;
  width: 100%;
  padding: 6px; }

.bannerEditor__text-input {
  width: 100%; }

.label {
  float: left;
  width: 50%; }

.label:nth-child(odd) {
  padding-left: 2px; }

.label:nth-child(even) {
  padding-right: 2px; }

.label--text-area {
  float: left;
  display: block;
  width: 100%; }

.bannerEditor__delete {
  float: right; }

.bannerEditor--header {
  padding: 6px 0;
  font-weight: 700;
  font-style: italic; }

.modalEditor__panel {
  width: 300px;
  background: #ddd;
  position: absolute;
  left: 400px;
  top: 300px;
  z-index: 100;
  padding: 12px;
  border-radius: 4px;
  border: solid 1px cadetBlue; }

.modalEditor__textarea {
  outline: none;
  resize: none;
  width: 100%;
  padding: 6px; }

.modalEditor__delete {
  position: absolute;
  right: 12px; }

.modalEditor__width {
  width: 50px; }

.typeEditor__header {
  display: table;
  width: 100%; }
  .typeEditor__header h2 {
    font-weight: 700;
    text-align: center;
    padding-bottom: 12px;
    font-style: italic;
    font-size: 20px;
    text-transform: capitalize;
    float: left;
    margin-right: 12px; }

#type-editor {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%; }

.typeEditor__panel {
  width: 500px;
  background: #ddd;
  padding: 12px;
  border-radius: 4px;
  border: solid 1px cadetBlue;
  display: table;
  margin: auto; }

.typeEditor__add {
  float: right; }

.typeEditor__property-header {
  margin-top: 12px; }
  .typeEditor__property-header h2 {
    font-style: italic;
    font-weight: 700;
    float: left; }
  .typeEditor__property-header .typeEditor__add {
    float: right; }

.editor__table, .typeEditor_table {
  width: 100%;
  border-collapse: collapse; }
  .editor__table td, .typeEditor_table td {
    border: solid 1px cadetBlue; }
    .editor__table td:first-child, .typeEditor_table td:first-child {
      width: 80px; }
    .editor__table td input, .typeEditor_table td input {
      outline: none;
      border: none;
      width: 100%;
      height: 100%; }
    .editor__table td input[type=button], .typeEditor_table td input[type=button] {
      border: none;
      width: 30px;
      height: 17px;
      border-radius: 20px;
      font-weight: 700;
      color: white;
      background: #666; }
      .editor__table td input[type=button]:hover, .typeEditor_table td input[type=button]:hover {
        background: pink; }
    .editor__table td:last-child, .typeEditor_table td:last-child {
      border: none;
      text-align: center; }

.typeEditor_table {
  margin-top: 12px;
  margin-bottom: 12px; }

.typeEditor__delete {
  float: right; }

* {
  box-sizing: border-box; }

.my__container {
  width: 240px; }

#args-editor {
  position: absolute;
  left: 400px;
  top: 200px; }

.argsEditor__table {
  width: 100%;
  border-collapse: collapse; }

.args-editor__button--save {
  margin: 6px 6px 6px 0; }

.args-editor__button--cancel {
  margin: 6px 0; }

td:not(:last-child) {
  border: solid 1px black;
  padding: 0;
  margin: 0;
  background: white; }

td:not(:last-child) input {
  border: none;
  width: 100%;
  margin: 0 0 0 0;
  background: white;
  padding: 0 2px;
  outline: none; }

td:last-child {
  border: none;
  text-align: right; }

td [type=button] {
  margin: 0 6px; }

.argsEditor__button--add {
  float: right; }

.argsEditor__header {
  float: left;
  font-style: italic;
  font-weight: 700;
  margin: 6px 0;
  font-size: 14px; }

.argsEditor__button--add {
  margin: 6px 0; }

#connector-editor {
  position: absolute;
  left: 400px;
  top: 200px; }

.connector-editor__panel {
  width: 200px;
  background: #ddd;
  padding: 12px;
  border-radius: 4px;
  border: solid 1px cadetBlue;
  display: table; }

#json-viewer {
  position: absolute;
  left: 400px;
  top: 100px; }

.jsonViewer__panel {
  width: 500px;
  background: #ddd;
  padding: 12px;
  border-radius: 4px;
  border: solid 1px cadetBlue;
  margin: 200px auto;
  display: table; }

.jsonViewer__panel--interior {
  background: white;
  border: solid 1px #666;
  padding: 6px; }

svg#foo {
  border: solid 1px #666; }

/*# sourceMappingURL=diagramMain.css.map */
