/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.overlay {
  position: fixed;
  z-index: 100;
  display: none;
  background: rgba(200, 200, 200, 0.5);
  height: 100%;
  width: 100%;
}

.editor__panel, .my__container {
  background: #ddd;
  position: absolute;
  z-index: 100;
  padding: 12px;
  border-radius: 4px;
  border: solid 1px #666;
  font-family: arial;
}

.button, .button--rounded {
  font-size: 12px;
  border: none;
  outline: none;
  cursor: pointer;
}
.button.button--primary, .button--primary.button--rounded {
  color: #fff;
  background: #777;
}
.button.button--primary:hover, .button--primary.button--rounded:hover {
  background: #999;
}
.button.button--primary:active, .button--primary.button--rounded:active {
  background: #bbb;
}
.button.button--secondary, .button--secondary.button--rounded {
  color: #777;
  background: #fff;
}
.button.button--secondary:hover, .button--secondary.button--rounded:hover {
  background: #ddd;
}
.button.button--secondary:active, .button--secondary.button--rounded:active {
  background: #bbb;
}

.button--rounded {
  border-radius: 5px;
}

.buttons {
  display: flex;
  gap: 4px;
  margin-top: 8px;
}

input {
  outline: none;
  line-height: 20px;
  font-size: 12px;
  height: 20px;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
  font-size: 12px;
}

thead th {
  background: grey;
  border: solid 1px grey;
  color: white;
  padding: 2px;
  font-size: 12px;
}

td {
  border: solid 1px #666;
  background: white;
}
td input {
  border: none;
  width: 100%;
  height: 100%;
}

#menu {
  z-index: 200;
}

.menu {
  z-index: 200;
  padding: 12px;
}

.menu__main-options li {
  font-size: 20px;
  line-height: 1.4;
  position: relative;
}

.sublist {
  font-size: 16px;
  padding-left: 12px;
}

.sublist2 {
  font-size: 16px;
  padding-left: 24px;
}

#banner-editor {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.bannerEditor__panel {
  width: 500px;
  background: #ddd;
  padding: 12px;
  border-radius: 4px;
  border: solid 1px #666;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4px;
}

.bannerEditor--header {
  padding: 6px 0;
  font-weight: 700;
  font-style: italic;
  grid-column-start: 1;
  grid-column-end: 3;
}

.bannerEditor__textarea {
  outline: none;
  resize: none;
  width: 100%;
  padding: 6px;
}

.bannerEditor__text-input {
  width: 100%;
}

.label {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.label--text-area {
  grid-row-start: 4;
  grid-column-start: 1;
  grid-column-end: 3;
}

.bannerEditor__buttons {
  grid-row-start: 5;
  grid-column-start: 1;
  grid-column-end: 3;
}

.modalEditor__panel {
  width: 300px;
  background: #ddd;
  position: absolute;
  left: 400px;
  top: 300px;
  z-index: 100;
  padding: 12px;
  border-radius: 4px;
  border: solid 1px #666;
}

.modalEditor__textarea {
  outline: none;
  resize: none;
  width: 100%;
  padding: 6px;
}

.modalEditor__delete-button {
  margin-left: auto;
}

.modalEditor__width {
  width: 50px;
}

.typeEditor__header h2 {
  font-weight: 700;
  padding-bottom: 12px;
  font-size: 16px;
  text-transform: capitalize;
}

.typeEditor__select--standalone {
  outline: none;
  height: 22px;
  font-size: 12px;
}

#type-editor {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
}

.typeEditor__panel {
  width: 500px;
  background: #ddd;
  padding: 12px;
  border-radius: 4px;
  border: solid 1px #666;
  display: table;
  margin: auto;
}
.typeEditor__panel label {
  font-size: 12px;
}

.typeEditor__add {
  float: right;
}

.typeEditor__property-header {
  margin-top: 12px;
  display: flex;
}
.typeEditor__property-header h2 {
  font-size: 14px;
  font-weight: 700;
}
.typeEditor__property-header .button, .typeEditor__property-header .button--rounded {
  margin-left: auto;
}

.editor__table, .typeEditor_table {
  width: 100%;
}
.editor__table thead th:last-child, .typeEditor_table thead th:last-child {
  background: transparent;
  border: none;
  width: 50px;
}
.editor__table td input[type=button], .typeEditor_table td input[type=button] {
  border: none;
  width: 30px;
  height: 17px;
  border-radius: 20px;
  font-weight: 700;
  font-size: 11px;
  line-height: 11px;
  color: #fff;
  background: #777;
}
.editor__table td input[type=button]:hover, .typeEditor_table td input[type=button]:hover {
  background: #999;
}
.editor__table td input[type=button]:active, .typeEditor_table td input[type=button]:active {
  background: #bbb;
}
.editor__table td:last-child, .typeEditor_table td:last-child {
  background: transparent;
  border: none;
  text-align: center;
}

.typeEditor_table {
  margin-top: 12px;
  margin-bottom: 12px;
}
.typeEditor_table select {
  width: 100%;
  border: none;
  outline: none;
}

.my__container {
  width: 240px;
}

#args-editor {
  position: absolute;
  left: 400px;
  top: 200px;
}

.argsEditor__table {
  width: 100%;
}
.argsEditor__table thead th:last-child {
  background: transparent;
  border: none;
  width: 50px;
}
.argsEditor__table td input[type=button] {
  border: none;
  width: 30px;
  height: 17px;
  border-radius: 20px;
  font-weight: 700;
  font-size: 11px;
  line-height: 11px;
  color: #fff;
  background: #777;
}
.argsEditor__table td input[type=button]:hover {
  background: #999;
}
.argsEditor__table td input[type=button]:active {
  background: #bbb;
}
.argsEditor__table td:last-child {
  background: transparent;
  border: none;
  text-align: right;
}

.argsEditor__header {
  display: flex;
  align-items: flex-start;
}
.argsEditor__header h2 {
  font-weight: bold;
  font-size: 14px;
  margin-right: auto;
  margin-bottom: 8px;
}

#connector-editor {
  position: absolute;
  left: 400px;
  top: 200px;
}

.connector-editor__panel {
  width: 200px;
  background: #ddd;
  padding: 12px;
  border-radius: 4px;
  border: solid 1px #666;
  display: table;
}
.connector-editor__panel h2 {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 12px;
  font-weight: 700;
}

#viewer {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.viewer__panel {
  background: #ddd;
  padding: 12px;
  border-radius: 4px;
  border: solid 1px #666;
  margin: 200px auto;
  display: block;
}

.viewer__panel--interior {
  width: 60vw;
  font-size: 12px;
  height: 70vh;
  overflow-y: scroll;
  background: white;
  border: solid 1px #666;
  padding: 6px;
  margin-bottom: 10px;
}

.help {
  padding: 0 8px;
}
.help b {
  font-family: courier;
  color: black;
}
.help h1,
.help h2,
.help h3,
.help h4 {
  font-weight: bold;
  line-height: 24px;
  margin: 16px 0;
}
.help h1 {
  font-size: 24px;
}
.help h2 {
  font-size: 18px;
}
.help h3 {
  font-size: 16px;
}
.help hr {
  border: none;
  border-bottom: solid 1px #666;
  margin: 16px 0;
}
.help p {
  font-size: 14px;
  line-height: 24px;
  margin: 16px 0;
}
.help strong {
  font-weight: bold;
}
.help li {
  line-height: 24px;
  list-style-type: disc;
  list-style-position: inside;
}

body {
  font-family: helvetica;
}

#container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-columns: 1fr 250px;
}

#side-bar {
  background: #ccc;
  grid-column-start: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

#top-bar {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 3;
  background: #333;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.nav-bar--link {
  margin-left: auto;
  display: flex;
  align-items: center;
  color: white;
  cursor: pointer;
}

.nav-bar--link-icon {
  display: flex;
  background: transparent;
  position: relative;
  width: 30px;
  height: 30px;
}
.nav-bar--link-icon svg {
  fill: currentColor;
  margin: auto;
}
.nav-bar--link-icon:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  border: solid 1px white;
}

/*# sourceMappingURL=diagramMain.css.map */
