#menu {
    border-bottom : solid red 1px;
    border-left : solid red 1px;
    position : absolute;
    width:153px;
}

.menu-item {
    width : 50px;
    height : 50px;
    margin : 0px;
    border-top : solid black 1px;
    border-right : solid black 1px;
    display : inline-block;
    float: left;
    font-size : 7px;
}


.classes {
    color : white;
}

input[type=text] {
    height : 20px;
}

.interface input {
    width : 150px;
}

.gui-class-name input {
    width : 150px;
}

.gui-class-parent input {
    width : 150px;
}

.gui-property-name input {
    width : 80px;
}

.gui-property-type input {
    width : 80px;
}

.gui-method-name input {
    width : 80px;
}

.gui-method-return-type input {
    width : 80px;
}

.gui-arg input[type=text] {
    width : 80px;
}

#gui-container {
    position : absolute;
    width : 400px;
    height : 600px;
    right : 10px;
    top : 10px;
    background-color : black;
    overflow:scroll;
    overflow-x: hidden;
    border-radius:10px;
    border : solid black 2px;
    font-size : 12px;
    font-family: arial;
    color : #222;
}

.gui-uml-class {

    padding : 10px;
    border-radius:10px;
    background-color : grey;
    margin-top : 5px;
    margin-right : 2px;
    margin-left : 2px;

}

.gui-properties-header {

    height : 30px;
}

.gui-properties-container {
    border-radius:10px;
    padding : 5px;
    border :solid black 1px;
    margin-top : 10px;
    background-color : #666;
}


.gui-property {
    border-radius:10px;
    margin : 5px;
    border :solid black 1px;
    padding : 5px;
}

.gui-methods-container {
}

.gui-methods {
    border-bottom-right-radius:10px;
    border-bottom-left-radius:10px;
    padding : 5px;
    border-bottom : solid black 1px;
    border-right : solid black 1px;
    border-left : solid black 1px;
    background-color : #666;
}


.gui-methods-header {
    margin-top : 10px;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    border-top : solid black 1px;
    border-right : solid black 1px;
    border-left : solid black 1px;
    background-color : #666;
    height : 20px;
    padding: 5px;

}

.gui-method {
    border-radius:10px;
    border :solid black 1px;
    padding : 5px;
    background-color : grey;
    margin-bottom : 10px;

}

.method-fields {
    float : left;
}

.method-visibility {
    clear : both;
}

.delete-method {
    float : right;

}

.gui-args-container {
    -moz-border-radius:10px; /* Firefox 3.6 and earlier */
    border :solid black 1px;
    background-color : white;
    margin-top : 10px;

}

.gui-arg {

    padding : 5px;
    border-top : solid grey 1px;
}


.gui-args-header {
    -moz-border-top-right-radius:10px; /* Firefox 3.6 and earlier */
    -moz-border-top-left-radius:10px; /* Firefox 3.6 and earlier */
    padding : 10px;

}


input[type=button] {
    float : right;
    height : 20px;
    font-size : 12px;
    vertical-align : text-top;
}


