.umlClass {


    background-color : #ffffcc;
    font-family : arial;
    font-size : 14px;
    border: solid #ccc 1px;
    display:inline-block;


}

.nameBox {
    padding : 10px;
    border-bottom : solid #ccc 1px;
}

.properties {

    padding : 8px;
    border-bottom : solid #ccc 1px;
}

.property {
    padding-top : 4px;
    padding-bottom : 5px;
}

.methods {

    padding : 8px;

}

.method {
    padding-top : 4px;
    padding-bottom : 5px;
}