@import 'particles/colors';
@import 'particles/dimensions';

@import 'components/forms';

@import 'modules/menu';
@import 'modules/bannerEditor';
@import 'modules/note';
@import 'modules/type';
@import 'modules/args';
@import 'modules/connectorEditor';
@import 'modules/viewer';
@import 'modules/help';
body {
  font-family: helvetica;
}

#container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-columns: 1fr 250px;
}

#side-bar {
  background: $side-bar-color;
  grid-column-start: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

#top-bar {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 3;
  background: $top-bar-color;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.nav-bar--link {
  margin-left: auto;
  display: flex;
  align-items: center;
  color: white;
  cursor: pointer;
}

.nav-bar--link-icon {
  display: flex;
  background: transparent;
  svg {
    fill: currentColor;
    margin: auto;
  }
  position: relative;
  width: 30px;
  height: 30px;
  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    border: solid 1px white;
  }
}

.nav-bar--link-text {
}

#svg-container {
}

svg#foo {
}
