<html>

<head>
    <link rel="stylesheet" type="text/css" href="./css/actualTemplate.css" />
    <link rel="stylesheet" type="text/css" href="./css/umlClass.css" />
    <!-- third party libraries -->
    <script type="text/javascript" src="./js/lib/jquery-1.8.0.js"></script>
    <script type="text/javascript" src="./js/lib/raphael.js"></script>
    <script type="text/javascript" src="./js/lib/underscore.js"></script>
    <script type="text/javascript" src="./js/lib/backbone.js"></script>


    <script type="text/javascript" src="./js/utility/namespace.js"></script>
    <script type="text/javascript" src="./js/utility/svgUtilities.js"></script>

    <!-- src code -->
<!--    <script type="text/javascript" src="./js/mouseHandlingModule.js"></script>-->
    <script type="text/javascript" src="./js/classBuilder.js"></script>
    <script type="text/javascript" src="./js/umlClassesModel.js"></script>
    <script type="text/javascript" src="./js/umlClassesView.js"></script>
    <script type="text/javascript" src="./js/utility/utility.js"></script>
    <script type="text/javascript" src="./js/classFormatters.js"></script>

    <script type="text/javascript" src="./js/module.keyHandler.js"></script>
    <script type="text/javascript" src="./js/arrowHead.js"></script>
    <script type="text/javascript" src="./js/line.js"></script>
    <script type="text/javascript" src="./js/nodeToRectangleLink.js"></script>
    <script type="text/javascript" src="./js/nodeWithArrowClass.js"></script>
    <script type="text/javascript" src="./js/connectorFactory.js"></script>
<!--    <script type="text/javascript" src="./js/transparentPane.js"></script>-->
    <script type="text/javascript" src="./js/main2.js"></script>
    <script type="text/javascript" src="./js/main.js"></script>



</head>

<body>
    <div id="canvas">
        <div id="uml-classes"></div>
    </div>

    <div id="gui-uml-classes"></div>


    <script type="text/template" id="uml-class-template">
       <div id="uml-class-<%= class.id %>" class="umlClass movable">
           <div class="nameBox"><%= class.name %> extends <%= class.parent %> implements
               <% for (k = 0; k < class.interfaces.length; k++ ) { %>
               <%= interface = class.interfaces[k] %>
               <% if(k !== class.interfaces.length - 1) { %> ,  <% }  %>
               <% } %>
           </div>
           <div class="properties">

               <% for (var i = 0; i < class.properties.length; i++) { %>
               <% var property = class.properties[i]; %>
                   <div class="property"><%= Glenmorangie.utils.formatVisibilitySymbol(property.visibility) %> <%= property.name %> : <%= property.type %></div>
               <% } %>
           </div>
           <div class="methods">
               <% for (var i = 0; i < class.methods.length; i++) { %>
               <% var method = class.methods[i] %>
                   <div class="method"><%= Glenmorangie.utils.formatVisibilitySymbol(method.visibility) %>
                                       <%= method.name %>(
                                       <% for (var j = 0; j < method.args.length; j++) {  %>
                                       <% var arg = method.args[j]; %>
                                          <%= arg.name %> : <%= arg.type %>
                                           <% if(j !== method.args.length - 1) { %> ,  <% }  %>
                                       <% } %>
                                       )
                                       : <%= method.returnType %></div>
               <% } %>
           </div>
       </div>

    </script>


   <script type="text/template" id="gui-uml-classes-template">

        <div class="gui-uml-class">
            <div class="gui-uml-class-header">
                <input type="button" value="delete"/>
                <div>
                    <div class="gui-uml-class-name">
                        name : <input type="text"
                                      maxlength="20"
                                      value=" <%= class.name %>"/>
                    </div>
                    <div class="gui-uml-class-parent">
                        parent : <input type="text"
                                        maxlength="20"
                                        value="<%= class.parent %>"/>
                    </div>

                    <div class="gui-add-interface-container">
                        <span>Interfaces:</span>
                        <input class="gui-add-interface" type="button" value="add"/>
                    </div>

                    <div>




                        <% for (var i = 0; i < class.interfaces.length; i++) { %>
                        <% var interface = class.interfaces[i]; %>
                            <span class="gui-uml-class-interface">
                                 <input type="text"
                                        value = "<%= interface %>"
                                        maxlength="20"
                                        data-interface-index="<%= i %>" />
                            </span>
                            <input class="gui-delete-interface"
                                   type="button"
                                   value="delete"
                                   data-interface-index="<%= i %>"/>
                        <% } %>

                    </div>
                </div>
            </div>

            <div class="gui-properties-container">
                <div class="gui-properties-header">
                    <b>Properties</b><input class="gui-add-property" type="button" value="add" data-class-id="<%= class.id %>"/>
                </div>
                <div class="gui-properties">

                    <% for (var i = 0; i < class.properties.length; i++) { %>
                        <% var property = class.properties[i]; %>

                        <div class="gui-property">

                            <span class="gui-property-name">
                                name : <input type="text"
                                              maxlength="10"
                                              value="<%= property.name %>"
                                              data-property-index="<%= i %>"/>
                            </span>&nbsp;

                            <span class="gui-property-type">
                                type : <input type="text"
                                              maxlength="10"
                                              value="<%= property.type %>"
                                              data-property-index="<%= i %>"/>
                            </span>

                            <input class="gui-delete-property"
                                   type="button"
                                   value="delete"
                                   data-class-id="<%= class.id %>"
                                   data-property-id="<%= i %>"/>

                            <div class="gui-visibility-buttons">
                                public : <input type="radio"
                                                name="propvisibility<%=i%>"
                                                data-property-index="<%= i %>"
                                                data-visibility="public"
                                     <%= Glenmorangie.utils.formatVisibility(property.visibility, "public")  %>/>

                                private : <input type="radio"
                                                 name="propvisibility<%=i%>"
                                                 data-visibility="private"
                                                 data-property-index="<%= i %>"
                                     <%= Glenmorangie.utils.formatVisibility(property.visibility, "private")  %>/>

                                protected : <input type="radio"
                                                   name="propvisibility<%=i%>"
                                                   data-visibility="protected"
                                                   data-property-index="<%= i %>"
                                     <%= Glenmorangie.utils.formatVisibility(property.visibility, "protected")  %>/>
                            </div>

                        </div>
                    <% } %>
                </div>



            </div>

            <div class="gui-methods-container">
                <div class="gui-methods-header">
                    <span><b>Methods</b></span>
                    <input class="gui-add-method" type="button" value="add" data-class-id="<%= class.id %>" />
                </div>
                <div class="gui-methods">
                    <% for (var i = 0; i < class.methods.length; i++) { %>
                        <% var method = class.methods[i]; %>

                        <div class="gui-method">
                            <span class="gui-method-name">
                                name : <input type="text"
                                              value="<%= method.name %>"
                                              data-method-index="<%= i %>"/>
                            </span>

                            <span class="gui-method-return-type">
                                return&nbsp;type&nbsp;:&nbsp;<input type="text"
                                                                    value="<%= method.returnType %>"
                                                                    data-method-index="<%= i %>"/>
                            </span>

                            <span>
                                <input class="gui-delete-method"
                                       type="button"
                                       value="delete"
                                       data-class-id="<%= class.id %>"
                                       data-method-id="<%= i %>"/>
                            </span>

                            <div class="gui-method-visibility-buttons">
                                public : <input type="radio"
                                                name="visibility<%=i%>"
                                                data-method-index="<%= i %>"
                                                data-visibility="public"
                                                <%= Glenmorangie.utils
                                                       .formatVisibility(method.visibility, "public")  %>/>

                                private : <input type="radio"
                                                 name="visibility<%=i%>"
                                                 data-method-index="<%= i %>"
                                                 data-visibility="private"
                                                <%= Glenmorangie.utils
                                                       .formatVisibility(method.visibility, "private")  %>/>

                                protected : <input type="radio"
                                                   name="visibility<%=i%>"
                                                   data-method-index="<%= i %>"
                                                   data-visibility="protected"
                                                <%= Glenmorangie.utils
                                                       .formatVisibility(method.visibility, "protected")  %>/>
                            </div>

                            <div class="gui-args-container">
                                <div class="gui-args-header">
                                    <span><b>Arguments</b></span>
                                    <input class="gui-add-argument"
                                           type="button"
                                           value="add"
                                           data-method-index="<%= i %>" />
                                </div>

                                <div class="gui-args">
                                    <% for (var j = 0; j < method.args.length; j++) { %>
                                        <% var arg = method.args[j]; %>
                                        <div class="gui-arg">
                                                <span>name :
                                                    <input class="gui-arg-name"
                                                           type="text"
                                                           maxlength="20"
                                                           value="<%= arg.name %>"
                                                           data-method-index="<%= i %>"
                                                           data-arg-index="<%= j %>"/>
                                                </span>
                                                <span>type :
                                                    <input class="gui-arg-type"
                                                           type="text"
                                                           maxlength="20"
                                                           value="<%= arg.type %>"
                                                           data-method-index="<%= i %>"
                                                           data-arg-index="<%= j %>"/>
                                                </span>

                                                <input class="gui-delete-arg"
                                                       type="button"
                                                       value="delete"
                                                       data-method-index="<%= i %>"
                                                       data-arg-index="<%= j %>"/>
                                        </div>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>

    </script>










</body>
</html>