<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="./reset.css" />
    <link rel="stylesheet" href="./editorTest.css"/>

</head>
<body>

    <div data-role="rasmus-container" class="rasmus__container">
        <div data-role="rasmus-display" class="rasmus__display">

        </div>
        <input class="rasmus__cl" type="text" autofocus data-role="rasmus-command-line"/>
    </div>


    <script type="text/template" id="rasmus-commands-template">

        <ul class="rasmus__commandslist">

            <% for(var i=0; i < history.length; i++) { %>

                <li class="rasmus__command <%= history[i].classname %>"><%= history[i].message %></li>

            <% } %>
        </ul>

    </script>



    <script data-main="editorMain" src="lib/require.js"></script>

</body>
</html>