body {
  font-family: arial;
  font-size: 12px;
  line-height: 1.5em;
  color: rgba(0, 0, 0, 0.6); }

.rasmus__container {
  position: absolute;
  left: 100px;
  top: 300px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  border: solid 1px rgba(0, 0, 0, 0.2);
  padding: 10px; }

.rasmus__display {
  overflow-y: scroll;
  padding-right: 15px;
    /*
    background-image: -webkit-gradient(
        linear,
        left top, left bottom,
        from(rgba(0, 0, 0, 0)),
        to(rgba(0, 0, 0, 0)),
        color-stop(0.3, #000),
        color-stop(0.9, #000)
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	*/ }

.rasmus__commandslist {
  list-style: none;
  margin: 0;
  padding: 0; }

.rasmus__error {
  color: red; }

.rasmus__input {
  color: blue; }

.rasmus__output {
  color: green; }

.rasmus__cl {
  width: 100%;
  background: transparent;
  border: none;
  border-top: solid 1px rgba(0, 0, 0, 0.2);
  margin-top: 5px; }
