<html>

<head>
    <link rel="stylesheet" type="text/css" href="./css/template.css" />
    <!-- third party libraries -->
    <script type="text/javascript" src="./js/lib/jquery-1.8.0.js"></script>
    <script type="text/javascript" src="./js/lib/raphael.js"></script>
    <script type="text/javascript" src="./js/lib/underscore.js"></script>
    <script type="text/javascript" src="./js/lib/backbone.js"></script>

    <!-- src code -->
    <script type="text/javascript" src="./js/utility/namespace.js"></script>
    <script type="text/javascript" src="./js/classBuilder.js"></script>
    <script type="text/javascript" src="./js/utility/utility.js"></script>
    <script type="text/javascript" src="./js/spikes/backboneGuiSpike.js"></script>
</head>

<body>

    <div id="uml-app">
        <div id="canvas-container">
            <div id="canvas"></div>
        </div>
        <div id="menu">
            <div class="menu-item" id="menu-add-class">add uml class</div>
            <div class="menu-item" id="menu-add-connector"></div>
            <div class="menu-item" ></div>
            <div class="menu-item" ></div>
            <div class="menu-item" ></div>
            <div class="menu-item" ></div>
        </div>
        <div id="gui-container"></div>
    </div>

    <script type="text/template" id="gui-uml-class-template">
        <div class="gui-uml-class">
            <div class="header">
                <input type="button" value="delete"/>
                <div>
                    <div class="gui-class-name">name : <input type="text" maxlength="20" value=" <%= name %>"/></div>
                    <div class="gui-class-parent">
                        parent : <input type="text" maxlength="20" value="<%= parent %>"/>
                    </div>

                    <div>
                        <span class="interface">interface : <input type="text" maxlength="20"/></span>
                        <input type="button" value="add"/>
                    </div>


                </div>
            </div>

            <div class="gui-properties-container">
                <div class="gui-properties-header">
                    <b>Properties</b><input class="addProperty" type="button" value="add" data-id="<%= id %>"/>
                </div>
                <div class="gui-properties">

                    <% for (var i = 0; i < properties.length; i++) { %>
                        <% var property = properties[i]; %>
                        <div class="gui-property">

                            <span class="gui-property-name">
                                name : <input type="text" maxlength="10" value="<%= property.name %>"/>
                            </span>&nbsp;

                            <span class="gui-property-name">
                                type : <input type="text" maxlength="10" value="<%= property.type %>"/>
                            </span>

                            <input class="delete-property"
                                   type="button"
                                   value="delete"
                                   data-property-id="<%= Glenmorangie.utils.createClassPropertyId(id, i) %>"/>

                            <div>
                                public : <input type="radio"
                                                name="propvisibility<%=i%>"
                                     <%= Glenmorangie.utils.formatVisibility(property.visibility, "public")  %>/>

                                private : <input type="radio"
                                                 name="propvisibility<%=i%>"
                                     <%= Glenmorangie.utils.formatVisibility(property.visibility, "private")  %>/>

                                protected : <input type="radio"
                                                   name="propvisibility<%=i%>"
                                     <%= Glenmorangie.utils.formatVisibility(property.visibility, "protected")  %>/>

                            </div>

                        </div>

                    <% } %>

                </div>
            </div>


                <div class="gui-methods-header">
                    <span><b>Methods</b></span>
                    <input class="addMethod" type="button" value="add" data-id="<%= id %>" />
                </div>
                <div class="gui-methods">
                    <% for (var i = 0; i < methods.length; i++) { %>
                        <% var method = methods[i]; %>

                <div class="gui-method">
                    <div class="foo">
                        <span class="gui-method-name">name : <input type="text" value="<%= method.name %>" /></span>
                        <span class="gui-method-return-type">return&nbsp;type&nbsp;:&nbsp;<input type="text" value="<%= method.returnType %>" /></span>

                        <span>
                            <input class="delete-method"
                                   type="button"
                                   value="delete"
                                   data-method-id="<%= Glenmorangie.utils.createClassMethodId(id, i) %>"/>
                        </span>
                    </div>

                    <div class="method-visibility">
                        public : <input type="radio"
                                        name="visibility<%=i%>"
                                        <%= Glenmorangie.utils.formatVisibility(method.visibility, "public")  %>/>

                        private : <input type="radio"
                                         name="visibility<%=i%>"
                                        <%= Glenmorangie.utils.formatVisibility(method.visibility, "private")  %>/>

                        protected : <input type="radio"
                                           name="visibility<%=i%>"
                                        <%= Glenmorangie.utils.formatVisibility(method.visibility, "protected")  %>/>
                    </div>

                    <div class="gui-args-container">
                        <div class="gui-args-header">
                            <span><b>Arguments</b></span>
                            <input class="addArgument"
                                   type="button"
                                   value="add"
                                   data-method-id="<%= Glenmorangie.utils.createClassMethodId(id, i) %>" />
                        </div>

                        <div class="gui-args">
                            <% for (var j = 0; j < method.args.length; j++) { %>
                                <% var arg = method.args[j]; %>
                                <div class="gui-arg">
                                        <span>name : <input type="text" maxlength="20" value="<%= arg.name %>"/></span>
                                        <span>type : <input type="text" maxlength="20" value="<%= arg.type %>"/></span>
                                        <input class="delete-arg"
                                               type="button"
                                               value="delete"
                                               data-arg-id="<%= Glenmorangie.utils.createClassMethodArgId(id, i, j) %>"/>
                                </div>
                            <% } %>
                        </div>
                    </div>
                </div>
                    <% } %>
                </div>

        </div>
    </script>


    <script type="text/template" id="gui-uml-method-template">

    </script>

    <script type="text/template" id="arg-template">
        <div class="gui-arg">
            name : <input type="text" maxlength="20"/>
            type : <input type="text" maxlength="20"/>
            <input type="button" value="delete"/>
        </div>
    </script>







</body>
</html>